/*** Leaflet Controls ****/
.calcite-maps .leaflet-top, .calcite-maps .leaflet-bottom {
    z-index: 500;
}

.calcite-maps .leaflet-control-attribution {
    position: relative;
    right: 20px;
}

.calcite-maps .leaflet-control-zoomhome.leaflet-bar > a,
.calcite-maps .leaflet-control-locate.leaflet-bar > a {
    width: 32px;
	height: 32px;
	line-height: 32px;
	border-radius: 0;
}

.calcite-maps .leaflet-control-zoomhome,
.calcite-maps .leaflet-control-locate.leaflet-bar {
	margin-left: 15px;
}

.calcite-maps .leaflet-control-locate.leaflet-bar {
    margin-top: 15px;
}

/* Leaflet Zoom Home */
.calcite-maps.nav-position-top .leaflet-control-zoomhome  {
	margin-top: 80px;
}

.calcite-maps.nav-position-top-fixed .leaflet-control-zoomhome {
	margin-top: 20px;
}

/* Leaflet Locate */
.leaflet-control-locate a {
    color: #000;
}