/*** Media Query ***/
@media screen and (max-width: 767px) {
    
    /*** Panels ***/
    .panel-container,
    .panel-group {
        z-index: 2000;
    }
    
    .calcite-maps .panel-body {
        overflow-y: scroll;
        min-height: 200px;
    } 
    
    #panelSearch .panel-control {
        padding: 5px;
    }
    
    #panelSearch .panel-body {
        min-height: 350px;
    }
    
    li.dropdown.open ul.dropdown-menu li:active {
        background: #75a8c9;          
    }
    
    #ui-datepicker-div {
        z-index: 1500 !important;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 875px) {
    
    .calcite-maps .navbar-title h1 {
        font-size: 1.05em;
    }
    
    .calcite-maps .navbar-subtitle {
        font-size: 0.75em;
    }
    
}