<!-- Scripts -->
<script>
    var isMobile = false;
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
        isMobile = true;
    }
</script>		
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
<!-- jQuery UI -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<!-- Bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- Calcite Maps -->
<script src="../../assets/leaflet/esri/esri-calcite-maps/js/calcitemaps.js"></script>
<!-- Leaflet -->
<script src="../../assets/leaflet/foundation/v-1.4.0/leaflet.js"></script>
<!-- Leaflet Zoom Home -->
<script src="../../assets/leaflet/plugins/leaflet-zoomhome/v-1.0.0/leaflet.zoomhome.min.js"></script>
<!-- Proj4JS -->
<script src="../../Assets/leaflet/plugins/proj4js/v-2.5.0/proj4.js"></script>
<!-- Proj4Leaflet -->
<script src="../../Assets/leaflet/plugins/proj4Leaflet/v-1.0.1/proj4leaflet.js"></script>
<!-- ESRI Leaflet -->
<script src="../../assets/leaflet/esri/esri-leaflet/v-2.2.4/esri-leaflet.js"></script>
<!-- ESRI Leaflet Renderer -->
<script src="../../assets/leaflet/esri/esri-leaflet-renderer/v-2.0.6/esri-leaflet-renderers.js"></script>
<!-- ESRI Leaflet Geosearch -->
<script src="../../assets/leaflet/esri/esri-leaflet-geocode/v-2.2.14/esri-leaflet-geocoder.js"></script> 
<!-- Esri Leaflet Legend -->
<script src="../../Assets/leaflet/esri/esri-leaflet-legend/v-2.0/esri-leaflet-legend.js"></script>
<!-- Leaflet Locate -->
<script src="../../assets/leaflet/plugins/leaflet-locate-control/v-0.66/L.Control.Locate.min.js"></script>
<!-- Map Application -->
<script src="js/app.min.js"></script>    
</body>
</html>