<body class="calcite-maps map-position-absolute nav-position-top-fixed nav-space-none zoom-top-left panel-right">
<!-- Navbar -->
<nav id="navbar" class="navbar navbar-dark navbar-fixed-top dark-blue">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data- target="#mainNav" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://www.ccpa.net/" target="_blank">
                <img src="//gis.ccpa.net/gis_images/CCPALogo_61x61px.gif" alt="cumberland county logo" />
            </a>
            <div class="navbar-info">
                <div class="navbar-title text-overflow"><h1>Plan Submissions Review Map</h1></div>
                <div class="navbar-subtitle text-overflow">Cumberland County, PA</div> 
            </div>
        </div>
        <!-- Navbar collapse -->
        <div id="mainNav" class="collapse navbar-collapse" aria-expanded="false" role="navigation">
            <ul class="nav navbar-nav navbar-right">                    
                <!-- Search - hidden on small screens, in options menu -->
                <li class="hidden-xs">
                    <form class="navbar-form navbar-search">
                        <div id="geocode" class="geocode-navbar"></div>
                    </form>
                </li>
                <!-- Options dropdown menu -->
                <li class="dropdown" role="presentation" >
                    <a class="dropdown-toggle hidden-xs" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span><span class="menu-label">   Menu</span></a>
                    <ul class="dropdown-menu">
                        <li><a id="infoNavMenu" class="" role="button" data-target="#panelInfo"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
                        <li><a id="filterNavMenu" class="" role="button" data-target="#panelFilter"><span class="glyphicon glyphicon-filter"></span> Filter Plans By Date</a></li>
                        <li><a id="searchNavMenu" class="visible-xs" role="button" data-target="#panelSearch"><span class="glyphicon glyphicon-search"></span> Address Search</a></li>
                        <li><a id="MuniZoomNavMenu" class="" role="button" data-target="#panelMuniZoom"><span class="glyphicon glyphicon-globe"></span> Zoom To Municipality</a></li>
                        <li><a id="legendNavMenu" class="" role="button" data-target="#panelLegend"><span class="glyphicon glyphicon-list"></span> Legend</a></li>
                        <li><a id="disclaimerNavMenu" class="" role="button" data-target="#panelDisclaimer"><span class="glyphicon glyphicon-exclamation-sign"></span> Disclaimer</a></li>                         
                    </ul>
                </li>
            </ul><!--/.nav -->
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav><!--/.navbar -->